@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Patua+One&display=swap");

body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
.header-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  width: 100%;
  height: 75vh;
}
h2 {
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  line-height: 0.75;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #333333;
}
.padding {
  padding-bottom: 2rem;
}
footer {
  background-color: #222;
  color: white;
}
hr .light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #333333;
  padding: 0px 10px;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 1%;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.social a {
  font-size: 4.5rem;
  padding: 3rem;
}
#fixed.stick {
  position: fixed;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.card {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}
.wrap {
  display: inline-flex;
  margin: 0;
  padding: 0;
  align-items: left;
  justify-content: left;
  font-size: 1vw;
}
.wrap i {
  padding: 0px 10px;
}
.wrap i:nth-child(1) {
  cursor: pointer;
  text-shadow: 0px 7px 10px rgb(0, 0, 0, 0.4);
  transition: all ease-in-out 10ms;
}
.wrap i:nth-child(1):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}
.wrap i:nth-child(2) {
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}
.wrap i:nth-child(2):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.wrap i:nth-child(3) {
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 150ms;
}

.wrap i:nth-child(3):hover {
  margin-top: -10px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  transform: translate(0, -5);
}
.wrap i:nth-child(4) {
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}
.wrap i:nth-child(4):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}
.wrap i:nth-child(5) {
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}
.wrap i:nth-child(5):hover {
  margin-top: -10px;
  text-shadow: 0px 18px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}
.wrap i:nth-child(6) {
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}
.wrap i:nth-child(6):hover {
  margin-top: -10px;
  text-shadow: 0px 20px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}
.wrapper {
  display: inline-flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
}
.wrapper i {
  padding: 0px 30px;
}
.wrapper i:nth-child(1) {
  cursor: pointer;
  text-shadow: 0px 7px 10px rgb(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}
.wrapper i:nth-child(1):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}
.wrapper i:nth-child(2) {
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}
.wrapper i:nth-child(2):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

.wrapper i:nth-child(3) {
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: all ease-in-out 150ms;
}

.wrapper i:nth-child(3):hover {
  margin-top: -10px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  transform: translate(0, -5);
}
.wrapper i:nth-child(4) {
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}
.wrapper i:nth-child(4):hover {
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}
.wrapper i:nth-child(5) {
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}
.wrapper i:nth-child(5):hover {
  margin-top: -10px;
  text-shadow: 0px 18px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}
.wrapper i:nth-child(6) {
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 150ms;
}
.wrapper i:nth-child(6):hover {
  margin-top: -10px;
  text-shadow: 0px 20px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}
.post {
  align-content: center;
}
.social {
  display: flex;
  justify-content: center;
  margin: auto;
}
.social i {
  color: black;
  font-size: 5vh;
  padding: 6px;
}
.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}
.sucessMsg {
  color: #6b8e23;
  margin-bottom: 10px;
}
.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2em;
  }
  .wrap {
    display: inline-flex;
    margin: 0;
    padding: 0;
    align-items: left;
    justify-content: left;
    font-size: 1vw;
  }
}
@media (max-width: 768px) {
  .header-img {
    height: 80%;
    width: 100%;
  }
  .lead {
    font-size: 1rem;
  }
  .display-4 {
    font-size: 200%;
  }
  .wrap {
    font-size: 4vw;
  }
  .wrapper {
    font-size: 6vw;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.4em;
  }
  footer a {
    color: #d5d5d5;
    padding: 0px 7px;
  }
  #fixed {
    display: none;
  }
}
@media (max-width: 576px) {
  .header-img {
    height: 80%;
    width: 100%;
  }
  .display-4 {
    font-size: 150%;
  }
  h1.header {
    font-size: 190%;
  }
  .welcome {
    padding: top 0.5;
  }
  .lead {
    font-size: 0.8rem;
  }
  .wrap {
    font-size: 3vw;
  }
  h2 {
    font-size: 20px;
  }
  .social a {
    font-weight: 2em;
    padding: 0.7rem;
  }

  .sticky-top {
    display: none;
  }
  .wrapper {
    font-size: 5vw;
  }
  #fixed {
    display: none;
  }
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}
